*{
 
    box-sizing: border-box;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 7vh auto;

}
.item1{
    margin: 5vh auto; 
    height: 40vh;
    width: 80vw;
}
.item1-1{
    display: flex;
    justify-content: space-between;
}
 .img1{
    margin:0 3vw;
    display: inline;
 }
 
 .buttons{
    display: inline-block;
    gap: 2vh;
    margin: 7vh auto;
     
 }
.item2{
    margin: 5vh auto; 
     
    height: 40vh;
    width: 80vw;
}
.item3{
    margin: 5vh auto; 
  
    height: 40vh;
    width: 80vw;
}
.item4{
    margin: 5vh auto; 
    
    height: 40vh;
    width: 80vw;
}
.item5{
    margin: 5vh auto; 
    height: 40vh;
    width: 80vw;
}
.items:hover{
    box-shadow: 10px 5px 10px rgb(151, 147, 147);
}